<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Ghost Hole</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/stylesheets/spectrum.css">
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">


<script src="/javascripts/dashboard-knobs.js" type="text/javascript"></script>


<script src="/javascripts/Animation.js" type="text/javascript"></script>
<script src="/javascripts/Socket.js" type="text/javascript"></script>
<script src="/javascripts/Launchpad.js" type="text/javascript"></script>

<script src="/javascripts/libs/webmidi.js" type="text/javascript"></script>

<script src="/javascripts/libs/jquery.min.js" type="text/javascript"></script>
<script src="/javascripts/libs/angular.min.js"></script>
<script src="/javascripts/libs/socket-io.js" type="text/javascript"></script>

<script src="/javascripts/libs/angular-knob.js" type="text/javascript"></script>
<script src="/javascripts/libs/jquery.knob.min.js" type="text/javascript"></script>


<script src="/javascripts/libs/tinycolor.min.js" type="text/javascript"></script>
<script src="/javascripts/libs/tinygradient.min.js" type="text/javascript"></script>
<script src="/javascripts/libs/spectrum.js" type="text/javascript"></script>
<script src="/javascripts/libs/sketchpad.js" type="text/javascript"></script>

<script src="/javascripts/app.js" type="text/javascript"></script>
<script src="/javascripts/dashboard.component.js" type="text/javascript"></script>
<script src="/javascripts/ghostcanvas.component.js" type="text/javascript"></script>

